/node_modules
/public/backups/database
/public/hot
/public/sitemap.xml
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
public/uploads/images/*